html
{
    display:flex;
    align-items: center;
    justify-content: center;
    margin:0;
    height:100%;
    box-sizing: border-box;
    /* background: linear-gradient(-45deg, #5f01b1, #8502f7, #a643fd, #c88fec);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh; */
}

html {
    background: linear-gradient(27deg, #be05f1, #a817c6, #0f83c8, #17a4c6);
    background-size: 800% 800%;

    -webkit-animation: AnimationName 25s ease infinite;
    -moz-animation: AnimationName 25s ease infinite;
    animation: AnimationName 25s ease infinite;
    animation-iteration-count: infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:82% 0%}
    50%{background-position:19% 100%}
    100%{background-position:82% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:82% 0%}
    50%{background-position:19% 100%}
    100%{background-position:82% 0%}
}
@keyframes AnimationName {
    0%{background-position:82% 0%}
    50%{background-position:19% 100%}
    100%{background-position:82% 0%}
}
.main
{
    
    display:flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}


.calculator
{
    border-collapse: separate;
    border-radius: 30px;
    display:flex;
    flex-direction: column;
    background-color:#242526;
    overflow: hidden;
    max-width: 300px;
    padding-top: 10px;
    
}

.display
{
    height:50px;
    background-color:#242526 ;
    color:white;
    font-size: 16px;
    /* border-radius: 16px; */
    padding: 10px;
    display:flex;
    align-items: center;
    width:100%;
    overflow: vvv;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 28px;
    overflow-x:auto;
    scrollbar-width: thin;
    overflow-y: hidden;
    scrollbar-width: none;
    text-align: center;
    
}

.buttons
{
    width: 300px;
    height: 400px;
    display:flex;
    flex-direction: column;
    border-radius: 16px;
    border-collapse:separate ;
    
    
}

.b
{
    background-color:  lightgrey;
    border: 1px solid grey ;
    width:80px;
    height: 80px;
    font-size: 32px;
    transition: background-color 1s;
    transition-timing-function: ease;
}

.row
{
    display: flex;
    justify-content:center;
}


.last
{
    height:80px;
    width:160px;
    border-radius: 0px 0px 25px 25px;
    
}

#back
{
    background-color:  lightgrey;
    border-width: 1px;
    border-radius: 0px 0px 25px 2px;
    border: 1px solid grey ;
    font-size: 32px;
    transition: background-color 1s;
    transition-timing-function: ease;
}

#C
{
    background-color:  lightgrey;
    border: 1px solid grey ;
    border-radius: 0px 0px 2px 25px;
    border: 1px solid grey ;
    font-size: 32px;
    transition: background-color 1s;
    transition-timing-function: ease;
    
}



#mult,#min,#plus,#div
{
    background-color: #ffa51e ;
    color:white;
    transition: background-color 1s;
    transition-timing-function: ease;
}

#mult:hover,#min:hover,#plus:hover,#div:hover
{
    background-color: #dc8400;
}



#dec,#eq
{
    background-color: lightgrey ;
    transition: background-color 1s;
    transition-timing-function: ease;
}



.b:hover, #dec:hover,#eq:hover
{
    background-color: darkgrey;

}

#C:hover
{
    background-color: darkgrey;
}

#back:hover
{
    background-color: darkgrey;
}